<main class="main">
  <div class="left-side">
    <h1>LEARN</h1>
    <div>
      <ul>
        <li (click)="routeToPage(CoolRouterPages.Introduction)">Introduction</li>
        <li (click)="routeToPage(CoolRouterPages.Subscriptions)">Subscriptions</li>
        <li (click)="routeToPage(CoolRouterPages.Operators)">Operators</li>
        <li (click)="routeToPage(CoolRouterPages.Subjects)">Subjects</li>
      </ul>
    </div>

    <h1>EXAMPLES</h1>
    <div>
      <ul>
        <li (click)="routeToPage(CoolRouterPages.AsyncPipeExample)">Async Pipe (nested feature flags)</li>
        <li (click)="routeToPage(CoolRouterPages.MapAndFilterExample)">Map and Filter</li>
        <li (click)="routeToPage(CoolRouterPages.SwitchMapAndDebounceExample)">SwitchMap and Debounce</li>
        <li (click)="routeToPage(CoolRouterPages.ConbineLatestExample)">CombineLatest</li>
        <li (click)="routeToPage(CoolRouterPages.ForkJoinExample)">Fork Join vs. MergeMap vs. ConcatMap</li>
      </ul>
    </div>

    <h1>PRACTICE</h1>
    <div>
      <ul>
        <li (click)="routeToPage(CoolRouterPages.PracticeInputHandling)">Input Handling</li>
        <li (click)="routeToPage(CoolRouterPages.MorePracticeIdeas)">More Practice</li>
      </ul>
    </div>
  </div>
  <div class="content">
    <router-outlet />
  </div>
</main>
