<h2>ForkJoin vs. MergeMap vs. ConcatMap</h2>

<div>
  <span><b>ForkJoin</b></span><br/>
  <span>
    ForkJoin takes an array of observables and emits an array with the values from each of the observables. It
    only emits when ALL observables complete. If any of the observables throw an error, the entire fork join will not
    emit its values. This observable can be canceled using unsubscribe, takeUntil, etc.
  </span><br/>
  <button (click)="clickedForkJoin()">Run Example</button><br/>
  <div class="quote"><pre>{{forkJoinResponse}}</pre></div>
</div>

<div>
  <span><b>MergeMap</b></span><br/>
  <span>
    Takes multiple observables and emits values for each as the values arrive
  </span><br/>
  <button (click)="clickedMergeMap()">MergeMap</button><br/>
  <div class="quote"><pre>{{mergeMapResponse}}</pre></div>
</div>

<div>
  <span><b>ConcatMap</b></span><br/>
  <span>
    Takes multiple observables and emits values for each in the order they were called
  </span><br/>
  <button (click)="clickedConcatMap()">ConcatMap</button><br/>
  <div class="quote"><pre>{{concatMapResponse}}</pre></div>
</div>
